body {
  background: #F5F8FD;
}

.d1 {
  background: pink;
}
.d2 {
  background: lightblue;
}
.d3 {
  background: lightcyan;
}
.d4 {
  background: lightgrey;
}
.d5 {
  background: lightcoral;
}
.d6 {
  background: lightgreen;
}

/* ------------------------ HEADER -----------------------*/
.my-sidebar {
  -ms-flex: 0 0 280px;
  flex: 0 0 280px;
  margin: 0 15px;
  .logo {
    text-align: center;
    img {
      width: 170px;
      margin-top: 45px;
    }
  }
}

@media (max-width: 960px) {
  .my-sidebar {
    display: none;
  }
}

.white-box {
  background: #fff;
  box-shadow: 0px 0px 16px #00000010;
  border-radius: 20px;
}

.header-box {
  padding: 17px 30px 15px 30px;
  @media (min-width: 960px) {
    padding: 30px 30px 15px 30px;
  }
  border-bottom: solid 1px #d8dde5;
  h3,
  h5 {
    margin: 0;
  }
  .section-title {
    position: relative;
    h3,
    a {
      @media (min-width: 960px) {
        float: left;
      }
    }
    .text {
      display: none;
      @media (min-width: 1200px) {
        display: inline-block;
      }
    }
    a {
      color: #2e968e;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 4px;
      @media (min-width: 960px) {
        border-left: solid 2px #d8d8d8;
        padding-left: 20px;
        margin-left: 20px;
        margin-top: 6px;
        position: unset;
      }
    }
  }
  .admin-box {
    .user {
      padding-right: 55px;
      padding-left: 18px;
      position: relative;
      min-width: 161px;
      border-left: solid 2px #d8d8d8;
      float: right;
    }

    .notifications {
      width: 40px;
      height: 37px;
      padding: 6px 0 0 0;
      text-align: center;
      float: right;
      font-size: 20px;
      margin-right: 6px;
    }
    .avatar {
      overflow: hidden;
      border-radius: 50%;
      width: 43px;
      height: 43px;
      position: absolute;
      right: 0;
      top: -2px;
      img {
        width: 100%;
      }
    }
    h5 {
      font-size: 16px;
      max-width: 192px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .position {
      font-size: 13px;
      color: #a2a2a2;
    }
  }
}
.content-box {
  padding: 30px;
}

.mt-mr-30 {
  margin: 30px 10px;
  @media (min-width: 961px) {
    margin: 30px 30px 0 0;
  }
}
.mr-30 {
  margin: 0 30px 0 0;
}

footer {
  padding: 30px 0;
  font-size: 14px;
}

@media (max-width: 960px) {
  .admin-box {
    display: none;
  }
}

.main-nav {
  margin-top: 36px;
  list-style: none;
  padding: 0;
  li {
    a {
      color: #1e8d84;
      text-decoration: none;
      display: block;
      margin-bottom: 4px;
      padding: 10px;
      border-radius: 6px;
      padding-left: 40px;
      position: relative;
      span {
        position: absolute;
        left: 12px;
        font-size: 21px;
      }
      &:hover {
        background: #d5e8eb;
      }
      &.active {
        background: #2e968e;
        color: #fff;
      }
    }
  }
  .active {
    span:before {
      color: #fff;
      font-size: 21px;
    }
  }
  .icon-clients:before {
    font-size: 22px;
    font-weight: 500;
  }
  .icon-users:before {
    font-size: 23px;
    font-weight: 400;
  }
  .icon-exit:before {
    font-size: 21px;
  }
}

.active {
  span:before {
    color: #fff;
    font-size: 22px;
  }
}

.icon-add:before {
  font-size: 22px;
  font-weight: bold;
} 
.add-link {
  background: #E8F4F3;
  padding: 11px 15px;
  border-radius: 6px;
  float: left;
  .icon-add {
    margin-right: 7px;
    float: left;
    margin-top: 2px;
  }
}
.icon-bell:before {
  font-size: 22px;
}

/* --------------------- MOBILE NAVIGATION --------------------- */

.content-wrapper {
  width: 100%;
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function em($pixels, $context: $default-font-size) {
  @return #{$pixels/$context}em;
}

// variables
:root {
  --sidebar-width: 100%;
  --toggler-size: 30px;
  --toggler-line-number: 3;
  --toggler-line-size: calc(
    var(--toggler-size) /
      (var(--toggler-line-number) + var(--toggler-line-number) - 1)
  );
  --toggler-offset-left: 10px;
  --toggler-offset-top: 10px;
  --toggler-color: Tomato;
  --toggler-color-hover: Wheat;
}

// same as var(--toggler-line-number)
$total: 3;

// reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// styling

.wrapper {
  min-width: 100vw;
  display: flex;
}

.sidebar,
.content {
  transition: all 0.25s ease-out;
}

.sidebar {
  width: var(--sidebar-width);
  transform: translateX(calc(var(--sidebar-width) * -1));
  background: #2e968e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100vh;
  opacity: 0.5;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  list-style-type: none;
}

.menu__link {
  color: white;
  font-weight: 300;
  text-decoration: none;
  font-size: 8vmin;
  line-height: 15vmin;
  transition: all 0.25s ease-out;

  &:hover,
  &:focus,
  &:active {
    color: Gold;
  }
}

#menubar {
  padding: 0;
  text-align: center;
}

.menu-toggler {
  border-radius: calc(var(--toggler-line-size) / 2);
  display: block;
  width: var(--toggler-size);
  height: var(--toggler-size);
  position: fixed;
  top: 48px;
  left: 28px;
  cursor: pointer;
  z-index: 2;
  @media (min-width: 960px) {
    left: -9999999px;
  }
}

.menu-toggler__line {
  height: 3px;
  background: #2e968e;
  position: absolute;
  border-radius: calc(var(--toggler-line-size) / 2);
  right: 0;
  left: 0;
  transition: all 0.25s ease-out;
  $num: 1;

  @while $num <= $total {
    &:nth-child(#{$num}) {
      top: calc(
        var(--toggler-line-size) *
          #{$num} +
          (var(--toggler-line-size) * (#{$num} - 2))
      );
    }

    $num: $num + 1;
  }
}

.input-toggler {
  position: absolute;
  left: -100%;

  &:focus ~ .menu-toggler {
    outline: 1px dotted;
  }

  &:checked ~ .menu-toggler {
    .menu-toggler__line:not(:first-child):not(:last-child) {
      opacity: 0;
    }

    .menu-toggler__line:first-child,
    .menu-toggler__line:last-child {
      background-color: var(--toggler-color-hover);
    }

    .menu-toggler__line:first-child {
      transform: translateY(
          calc(var(--toggler-line-size) * (var(--toggler-line-number) - 1))
        )
        rotate(45deg);
    }

    .menu-toggler__line:last-child {
      transform: translateY(
          calc(-1 * var(--toggler-line-size) * (var(--toggler-line-number) - 1))
        )
        rotate(-45deg);
    }
  }

  &:checked ~ .sidebar {
    transform: translateX(0);
    opacity: 0.98;
    z-index: 1;
  }
}

// sig
.wrapper {
  height: calc(100vh - 50px);
}

.sb-link {
  display: flex;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #bb5555;
  transition: all 0.3s ease-in-out;
}

.sb-link:hover,
.sb-link:focus,
.sb-link:active {
  background: #f7f7f7;
}

.menu-toggler:active,
.menu-toggler:focus {
  outline: 0 !important;
  border: none !important;
}

@media (min-width: 960px) {
  .sidebar {
    display: none;
  }
}
/* --------------------- MOBILE --------------------- */
.mobile-header {
  display: block;
  .logo {
    text-align: center;
    padding-top: 10px;
    img {
      width: 105px;
      margin-top: 0;
    }
  }
  @media (min-width: 961px) {
    display: none;
  }
}

.actions {
  height: 25px;
  margin-top: 13px;
  @media (min-width: 760px) {
    margin-top: 0;
  }

  .btn-square {
    padding: 7px 8px;
    text-decoration: none;
    border-radius: 5px;
    background: #2e968e;
    color: #fff;
  }
}

.form-label {
  margin-bottom: 0.2rem;
}

.form-control,
.form-select {
  line-height: 1.9;
  background-color: #f2f2f2;
}

/* ---------------- MODAL ------------------*/

.modal.show .modal-dialog {
  @media (max-width: 556px) {
    margin: 20px;
  }
}

.modal-content {
  border-radius: 12px;
  border: none;
}

.btn-primary {
  background: #2e968e;
  border: none;
  color: #fff;
  padding: 10px 25px;
  &:hover {
    background: #38a59d;
  }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: #2e968e;
  &:hover {
    color: #2e968e;
  }
  &.eye-icon {
    background: url("../img/eye-icon.svg") no-repeat right 3px;
    padding: 4px 25px 4px 0;

    background: url(../img/eye-icon.svg) no-repeat right 3px;
    padding: 4px 34px 4px 0;
  }
}
